<%- include('../../partials/head.ejs') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <section class="mb-5 d-flex" style="justify-content: space-between;">
        <div class="btn-group" role="group" aria-label="Filter Buttons">
          <a href="/explorer?filter=latest" class="btn <%= filter==='latest' ? 'btn-primary' : 'btn-secondary' %>">Latest</a>
          <a href="/explorer?filter=week" class="btn <%= filter==='week' ? 'btn-primary' : 'btn-secondary' %>">Week</a>
          <a href="/explorer?filter=month" class="btn <%= filter==='month' ? 'btn-primary' : 'btn-secondary' %>">Month</a>
          <a href="/explorer?filter=all" class="btn <%= filter==='all' ? 'btn-primary' : 'btn-secondary' %>">All</a>
        </div>
        <div class="dropdown-center">
          <button class="btn dropdown-toggle" style="background-color: teal; color: white;" type="button" data-toggle="dropdown" aria-expanded="false">
            Category
          </button>
          <ul class="dropdown-menu category">
          
          </ul>
        </div>
      </section>
      

      <section>
        <% if (posts.length === 0) { %>
          <p class="text-center text-muted">There is nothing to show</p>
        <% } else { %>
          <div class="row">
            <% posts.map(post => { %>
              <div class="col-md-4 mb-4">
                <div class="card shadow h-100 d-flex flex-column">
                  <% if (post.thumbnail) { %>
                    <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top" />
                  <% } else { %>
                    <img src="/uploads/No-Image-Placeholder.svg.webp" alt="Placeholder Image" class="card-img-top" />
                  <% } %>
                  <div class="card-body d-flex flex-column align-items-start">
                    <a href="/explorer/<%= post._id %>" style="color: #222">
                      <h5 class="card-title"><%= post.title %></h5>
                      <p class="card-text"><%= truncate(post.body) %></p>
                    </a>
                    <div class="d-flex mt-auto">
                      <small class="text-muted">
                        <%= moment(post.createdAt) %><br>Posted By 
                        <a href="<%= `/author/${post.author._id}` %>" target="_blank"><%= post.author.username %></a><br>
                        Category: <a href="/explorer/category/<%= post.category._id %>"><%= post.category.name %></a><br><%= post.readTime %>
                      </small>
                      <% if (user) { %>
                        <span class="ml-auto bookmark" data-post="<%= post._id %>">
                          <% if (bookmarks.includes(post._id)) { %>
                            <i class="fas fa-bookmark"></i>
                          <% } else { %>
                            <i class="far fa-bookmark"></i>
                          <% } %> 
                        </span>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        <% } %>
      </section>
      

      <nav class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
            <a href="<%= `/explorer/?filter=${filter}&page=${currentPage - 1}` %>" class="page-link">Previous</a>
          </li>
          <% for(let i = 1; i <= totalPage; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a href="<%= `/explorer/?filter=${filter}&page=${i}` %>" class="page-link"><%= i %></a>
            </li>
          <% } %>
          <li class="page-item <%= totalPage <= currentPage ? 'disabled' : '' %>">
            <a href="<%= `/explorer/?filter=${filter}&page=${currentPage + 1}` %>" class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<%- include('../../partials/footer.ejs') %>

<script src="/scripts/bookmarks.js"></script>

<script>

  document.body.style.backgroundImage = "url(/uploads/bg.jpeg)";
    document.body.style.backgroundSize = "cover"; // You can adjust this property as needed
    document.body.style.backgroundRepeat = "no-repeat";
    document.body.style.backgroundPosition = "center";


  //on page load make ajax request to /allCategory and append to dropdown
  document.addEventListener('DOMContentLoaded', function() {
  
    document.body.style.backgroundImage = "url(/uploads/bg.jpeg)";
    document.body.style.backgroundSize = "cover"; // You can adjust this property as needed
    document.body.style.backgroundRepeat = "no-repeat";
    document.body.style.backgroundPosition = "center";

  fetch('/explorer/getallCategory/all', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  })
    .then(function(response) {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('Error: ' + response.status);
      }
    })
    .then(function(data) {
      data.forEach(function(category) {
        var li = document.createElement('li');
        var a = document.createElement('a');
        a.className = 'dropdown-item';
        a.href = '/explorer/category/' + category._id;
        a.textContent = category.name;
        li.appendChild(a);
        document.querySelector('.category').appendChild(li);
      });
    })
    .catch(function(error) {
      console.error(error);
    });
});
</script>

<body/>
<html/>
